
.progressdiv {
  position: relative;
}

.progressdiv:after {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 25px;
  transform: translate(-50%, -50%);
  content: attr(data-percent) "%";
}

.progress_bar {
  display: block;
  margin: 0 auto;
  overflow: hidden;
  transform: rotate(-90deg) rotateX(180deg);
}

.progress_bar circle {
	stroke-dashoffset: 0;
  	transition: stroke-dashoffset 1s ease;
  	stroke: #4aa316;
  	stroke-width: 5px;
}

.progress_bar .bar {
	stroke: grey;
}